.Self_MainDivColor {
  background-color: darkslategrey;
}

.Self_ShowName{
    font-size: 10vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.Self_MidPictureText{
    font-size: min(2vw,20px);
}

.Self-PillColor {
  background-color: burlywood;
}

.accordion {
  border-width: 0px;
  border-style: solid;
  border-color: #41424c;
}

.accordion-item {
  border-width: 0px;
  border-style: solid;
  border-color: #41424c;
}

.accordion-collapse {
  border-width: 0px;
  border-style: solid;
  border-color: black;
}

.accordion-body {
  background-color: burlywood;
  font-size: 20px;

  border-width: 0px;
  border-style: solid;
  border-color: black;
}

.accordion-button {
  background-color: rgb(166, 218, 166);
  color: #014421;

  /* font-size: 5px; */
}

.accordion-button.collapsed {
  background-color: grey;
  color: #014421;

  font-size: 30px;
}
